<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if person %}
    <h1>users info</h1>
    <ul>
        <li>{{person.name|default:"nothing"}}</li>
        <li>{{person.phonenumber|default:"nothing"}}</li>
        <li>{{person.email|default:"nothing"}}</li>
        <li>{{person.address|default:"nothing"}}</li>
    </ul>
    {% else %}
    <li>Sorry, no person is here.</li>
  {% endif %}
</body>
</html>